#cmdHome, #cmdCompress, #cmdNav{
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
}

#cmdHome:hover .glyph-icon, #cmdCompress:hover .glyph-icon, #cmdNav:hover .glyph-icon{
    -fx-fill: #646464;
}

#lblLogout:hover{
    -fx-text-fill: red;
}

.scroll-pane {
    -fx-padding: 0;
    -fx-background:#282E34;
}

.button{
    -fx-border-width: 0px 0px 0px 5px;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-background-color: transparent;
    -fx-fill: white;
}

.glyph-icon:hover{
    -fx-fill: white;
}

.button:hover .glyph-icon{
    -fx-fill: #ffffff;
}
